
.landing {
    width: 100%;
    height: 500px;
    background-image: url('../assets/image/cover.png');
    background-size: cover;
    background-position: center center;
}

.collection {
    width: 100%;
    height: 500px;
}

.feature1 {
    background-image: url('../assets/image/arcade/cover.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
    border-radius: 100px;
    margin: 10px;
    height: 25%;
    transition: 0.5s ease
}

.fLink2 {
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.fLink {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.feature1:hover {
    filter: brightness(100%);
    border-radius: 0px;
    height: 50%;
}

.feature1:hover .fLink {
   opacity: 1;
}


.feature2 {
    background-image: url('../assets/image/street/cover.jpg');
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
    border-radius: 100px;
    margin: 10px;
    height: 25%;
    transition: 0.5s ease;
}

.feature2:hover {
    filter: brightness(100%);
    border-radius: 0px;
    height: 50%;
}

.feature2:hover .fLink{
   opacity: 1;
}

.feature3 {
    background-image: url('../assets/image/simple/cover.png');
    background-size: cover;
    background-position: center center;
    filter: brightness(50%);
    border-radius: 100px;
    margin: 10px;
    height: 25%;
    transition: 0.5s ease;
}

.feature3:hover {
    filter: brightness(100%);
    border-radius: 0px;
    height: 50%;
}

.feature3:hover .fLink{
   opacity: 1;
}

.mask {
    filter: brightness(100%);
    transition: 0.5s ease;
}

.mask:hover {
    filter: brightness(80%);
}

.item:hover .fLink {
    transition: 0.5s ease;
    opacity: 1;
}

.item:hover .fLink2 {
    transition: 0.5s ease;
    opacity: 1;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slide-in {
    animation: slide-in 2s forwards;
    -webkit-animation: slide-in 2s forwards;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

.btn-black {
  background-color: #000000 !important;
  color: #ffff !important;
}

.btn-white {
    background-color:  #ffff !important;
    color: #000000 !important;
    border-style: solid;
}