.cover1 {
    width: 100%;
    height: 500px;
    background-image: url('../assets/image/arcade/cover.jpg');
    background-size: cover;
    background-position: center center;
    
}

.cover2 {
    width: 100%;
    height: 500px;
    background-image: url('../assets/image/street/cover.jpg');
    background-size: cover;
    background-position: center center;
}

.info {
    height:500px;
    
}

.mask{
    background-color: rgba(0, 0, 0, 0.5); 
    color: rgba(0, 0, 0, 0.5);
}

.collection {
    width: 100%;
    height: 500px;
    
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
