.middle {
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card:hover .middle {
  opacity: 1;
}

.card {
    overflow: hidden;
    
    
}
